<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>Blog yang dipilih: {{selectedBlog}}</h1>
        <blog-component v-for='book in blog' :blog='book' @selected='selectedBlog=$event'>
        </blog-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        //Component Child
        // var BlogComponent = {
        //     template: `<div>
        //         <h3>{{blog.title}} <button @click="$emit('selected',blog.title)">Pilih</button> </h3>
        //         <p>{{blog.content}}</p>
        //     </div>`,
        //     data() {
        //         return {
        //             pesan: 'Ini dari Component Blog'
        //         }
        //     },
        //     props: ['blog']
        // }
import {BlogComponent} from './BlogComponent.js'
        //Component Parent
        var app = new Vue({
            el: '#app',
            components: {
                'blog-component': BlogComponent
            },
            data: {
                blog: [{
                    title: 'Ini Judul 1',
                    content: 'Ini Content1'
                }, {
                    title: 'Ini Judul 2',
                    content: 'Ini Content 2'
                }],
                selectedBlog: ''
            }
        })
    </script>
</body>

</html>