<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm">
            <input type="text" name="nama" v-model="nama">
            <input type="submit" name="nama" value="add">
            <ul>
                <li v-for="error in users">
                    {{error.nama}}
                    <button type="submit">
                        Edit
                    </button>
                    <button type="submit">
                        Delete
                    </button>
                </li>
                <li v-for="siapa in tambah">{{siapa}}<button type="submit"> Edit</button></li>
            </ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                nama: '',
                tambah: [],
                users: [{
                    nama: "Muhammad Iqbal Mubarok"
                }, {
                    nama: 'Ruby Purwanti',
                }, {
                    nama: 'Faqih Muhammad'
                }]
            },
            methods: {
                submitForm: function() {
                    return this.tambah.push(this.nama)
                }
            }
        })
    </script>

</body>

</html>