<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        
        label {
            display: block;
            margin-top: 5px;
        }
        
        input,
        textarea,
        select,
        option {
            min-width: 200px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form @submit.prevent='submitForm()'>
            <p v-if="errors.length">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for='error in errors'> {{error}} </li>
                </ul>
            </p>
            <label>Name : {{ name }} </label>
            <input type="text" name='name' :disabled="buttonStatus=='upload'" ref='name' v-model='name'>
            <label>Address : {{ address }} </label>
            <textarea name='address' ref='address' :disabled="buttonStatus=='upload'" v-model='address'></textarea>
            <label>No HP : {{ no_hp }} </label>
            <input type="text" name='no_hp' ref='no_hp' :disabled="buttonStatus=='upload'" v-model='no_hp'>

            <div v-if="buttonStatus=='submit'">
                <input type="submit" value='SUBMIT'>
            </div>

            <div v-else-if="buttonStatus=='update'">
                <input type="button" @click='updateMember(idEditMember)' value='UPDATE'>
                <input type="button" value='CANCEL' @click='clearForm' style='margin-top: 5px;'>
            </div>

            <div v-else-if="buttonStatus=='upload'">
                <input type="file" name="photo" ref='photo'>
                <input type="button" value="UPLOAD" @click='submitPhoto(idUploadMember)' style="margin-top: 5px;">
                <input type="button" value='CANCEL' @click='clearForm' style='margin-top: 5px;'>
            </div>



        </form>
        <br><br>

        <table border=1>
            <tr v-for="member of members">
                <td>
                    <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>Name: </b> {{member.name}} <br>
                    <b>Address: </b> {{member.address}} <br>
                    <b>No Hp: </b> {{member.no_hp}} <br>
                </td>
                <td>
                    <button @click='editMember(member)'>Edit</button>
                    <button @click='removeMember(member.id)'>Hapus</button>
                    <button @click='uploadPhoto(member)'>Upload Foto</button>
                </td>
            </tr>
        </table>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



    <script>
        const store = new Vuex.Store({
            state: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember: null
            },
            mutations: {
                validationForm: function() {
                    this.errors = []
                    if (this.name.length < 5) {
                        this.errors.push('Name minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    if (this.address.length > 100) {
                        this.errors.push('Address tidak boleh lebih 100 karakter')
                        this.$refs.address.focus()
                    }
                    if (this.no_hp.length > 100) {
                        this.errors.push('No hp tidak boleh lebih 100 karakter')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm: function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                },

                submitForm: function() {

                    this.validationForm()

                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)

                            })
                            .catch((error) => {

                            })

                    }
                },

                getMember: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                            console.log(response.data.members)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },
                removeMember: function(id) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: "DELETE"
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.getMember()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editMember: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                clearForm: function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null
                },

                updateMember: function(id) {
                    this.validationForm()

                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: {
                                _method: 'PUT'
                            },
                            data: formData
                        }
                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMember()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                },

                uploadPhoto: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },

                submitPhoto: function(id) {

                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {

                            this.clearForm()
                            this.getMember()
                            alert(response.data.message)

                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }

            },
            actions: {

            }
        })


        var vm = new Vue({
            el: '#app',
            data: {},
            methods: {
                validationForm: function() {
                    this.$store.commit("validationform")
                },

                clearForm: function() {
                    this.$store.commit("clearform")
                },

                submitForm: function() {
                    this.$store.commit("submitForm")
                },

                getMember: function() {
                    this.$store.commit("getMember")
                },
                removeMember: function(id) {
                    this.$store.commit("removeMember", id)
                },

                editMember: function(member) {
                    this.$store.commit("editMember", member)
                },

                clearForm: function() {
                    this.$store.commit("clearform")
                },

                updateMember: function(id) {
                    this.$store.commit("updateMember", id)
                },

                uploadPhoto: function(member) {
                    this.$store.commit("uploadPhoto", member)
                },

                submitPhoto: function(id) {
                    this.$store.commit("submitPhoto", id)

                },


            },
            created() {
                this.getMember()
            }

        })
    </script>

</body>

</html>