<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h1>{{$store.state.count}}</h1>
        <p>State Management Pattern</p>
        <button @click='tambah'>hitung</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <script>
        const store = new Vuex.Store({
            state: {
                count: 1,
                title: 'Vuex'
            },
            mutations: {
                rumus(state) {
                    state.count++
                }

            },
            actions: {

            }
        })
        new Vue({
            el: '#app',
            data: {


            },
            store,
            methods: {
                tambah() {
                    this.$store.commit('rumus')
                }
            }
        })
    </script>
</body>

</html>