<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm">
            <p v-for="siapa in tambah">
                <button onclick="vm.c()">
                    +
                </button>
                <br> {{siapa}} || 21 Juni 2021 Score {{a}} <br>
                <button onclick="vm.d()">
                    -
                </button>
            </p>
            <!-- <button onclick="vm.c()">+</button>
            <p v-for="siapa in tambah">{{siapa}} || 18 Juni 2021 Score {{a}}</p>
            <button onclick="vm.d()">-</button> -->
            <br>
            <textarea v-model="nama" name="nama" id="nama" cols="30" rows="10"></textarea>
            <input type="submit" name="nama" value="Add">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                nama: ' ',
                tambah: [
                    'komentar 1 komentar 1 komentar 1',
                    'komentar cuy'
                ]
            },
            computed: {
                b() {
                    return this.a + 1
                }
            },
            methods: {
                c() {
                    this.a = this.a + 1
                },
                d() {
                    this.a = this.a - 1
                },
                submitForm: function() {
                    return this.tambah.push(this.nama)
                }
            }
        })
    </script>

</body>

</html>